version: '3.1'

services:

  bloggo:
    build: .
    environment:
      - BLOGGO_LOG_LEVEL=DEBUG
      - BLOGGO_SERVER_PORT=4242
      - BLOGGO_JWT_SECRET=x5fVmkmyMLAQJiJ8rvsGEAgetl9GS7j8
    ports:
      - 4242:4242
    depends_on:
      - db

  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bloggo
    ports:
      - 3306:3306
    volumes:
      - ./data/sql/blog_posts.sql:/docker-entrypoint-initdb.d/01-blog-posts.sql
      - ./data/sql/users.sql:/docker-entrypoint-initdb.d/02-users.sql
    healthcheck:
      test: "mysql --password=\"$$MYSQL_ROOT_PASSWORD\" -e \"use end\""
      interval: 5s
      retries: 50

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db

  blueprints:
    build:
      context: ./blueprints
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000
