body {
    height: 100%;
    background-color: black;
    color: white;
    margin: 0 auto;
}

#grid {
    height: 100%;
}

#logo {
    margin: 100px auto auto 300px;
    height: 250px;
    width: auto;
}

.top-text {
    width: 70%;
    text-align: center;
}

#heading {
    font-size: 2em;
}

#description {
    margin-bottom: 30px;
    font-size: 1em;
    color: rgb(0, 140, 255);
}

.form-group {

}

input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 6px;  

  }

button {
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border-radius: 6px;
    width: 300px;
    text-transform: uppercase;
    background-color: rgb(0, 140, 255);
    color: white;
}

.button {
    width: 60%;
    text-align: center;
}

@supports (display: grid) {
    
    #grid {
        display: grid;
        grid-template-rows: repeat(2, 3fr) repeat(3, 2fr) repeat(2, 3fr);
        grid-template-columns: repeat(2, 45%);
        grid-column-gap: 10%;
        grid-template-areas: ". ." "lo he" "lo de" "lo fo" "lo fo" "lo fo" ". .";
    }

    #heading {
        grid-area: he;
        -webkit-align-self: flex-end; /* Safari 7.0+ */
        align-self: flex-end;
    }

    #description {
        grid-area: de;
        -webkit-align-self: center; /* Safari 7.0+ */
        align-self: center;
    }

    #form {
        grid-area: fo;
    }

    #logo {
        grid-area: lo;
    }   
}