@font-face {
    font-family: Lato Regular;
    src: url(fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Merriweather-Regular;
    src: url(fonts/merriweather/Merriweather-Regular.ttf);
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto;
}

#name {
    font-size: 27px;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 20px;
}

#title {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
    font-family: Roboto;
}

h4 {
    text-align: left;
    color: rgb(45, 45, 45);
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: Lato Regular;
    font-size: 22px;
}

.grid {
    display: block;
}

#main {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    margin: 0;
}

#sidebar {
    background-color: black;
    width: 400px;
    height: auto;
}

#sidebar .menu {
    display: none;
    background-color: rgb(255, 255, 255);
    height: 5%;
}

#search-bar {
    text-align: right;
    font-size: 30px;
    margin: 0 auto;
    color: rgb(73, 73, 73);
}

#profile {
    margin: 0;
}

#links {
    margin-left: 10px;
}

.link {
    padding: 3px;
    font-size: 20px;
}

#picture {
    margin: 15px;
    border: 3px solid #ffffff;
}

#picture {
    height: 100px;
    width: 100px;
    background-color: rgb(216, 21, 21);
    border-radius: 100%;
}

#bio {
    margin: 10px;
    padding-top: 20px;
}

.content {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    overflow-y: scroll;
}

.content .menu {
    background-color: rgb(255, 255, 255);
    height: 5%;
}

.posts {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    list-style-type: none;
}

.post {
    text-align: center;
    background-color: white;
    color: grey;
    width: 80%;
    height: 180px;
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 0px 1px 1px #f0f0f0;
}

.time-line {
    float: left;
    font-family: Roboto;
    padding: 5px;
}

.tags {
    float: right;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 0px 1px 1px #f7f7f7;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    font-family: Roboto;
    font-size: 13px;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: rgb(233, 16, 16);
    border-radius: 50%;
    display: inline-block;
}

.description {
    font-size: 14px;
    text-align: left;
    font-weight: lighter;
    font-family: Merriweather-Regular;
}

.social {
    float: left;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 13px;
}

.dot-social {
    height: 4px;
    width: 4px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 2px;
}

.more {
    float: right;
    font-size: 30px;
    margin: 5px;
}

@supports (display: grid) {
    .grid {
        display: grid;
    }
    /* .grid>div {
        height: auto;
    }
    #sidebar .grid {
        grid-template-areas: "pr" "f";
    }*/
    #profile {
        grid-area: pr;
    }
    .footer {
        grid-area: f;
    }
    #profile {
        display: grid;
        grid-template-rows: 50px 50px 30px 200px;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "na pi" "ti pi" "li pi" "bio bio";
    }
    #name {
        grid-area: na;
    }
    #title {
        grid-area: ti;
    }
    #links {
        grid-area: li;
    }
    #picture {
        grid-area: pi;
    }
    #bio {
        grid-area: bio;
    }
    .posts {
        grid-area: po;
    }
    @media only screen and (max-width: 768px) {
        body>.grid {
            display: grid;
            grid-template-rows: 1fr 5fr 8fr 1fr;
            grid-template-columns: 1fr;
            grid-template-areas: "me" "pr" "po" "f";
        }
        #profile .grid {
            display: grid;
            grid-template-rows: 5fr 2fr 3fr 6fr;
            grid-template-columns: 3fr 2fr;
            grid-template-areas: "na pi" "ti pi" "li pi" "bio bio";
        }

        #main {
            display: flex;
            flex-direction: column;
        }

        #sidebar {
            height: auto;
        }

        #sidebar .menu { 
            display: block;
        }

        .content .menu {
            display: none;
        }

    }
}