body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    display: block;
}

#main {
    color: #fff;
    font-size: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
}

.menu {
    background-color: rgb(237, 230, 230);
    height: 5%;
}

#search-bar {
    text-align: right;
    font-size: 30px;
    margin: 0 auto;
    color: rgb(73, 73, 73);
}

.profile {
    background-color: rgb(16, 13, 16);
    height: 15%;
}

.profile .grid {
    margin-top: 110px;
}

#name {
    font-size: 27px;
    font-weight: bold;
    margin-left: 10px;
    padding-top: 20px;
}

#title {
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
}

#links {
    margin-left: 10px;
}

.link {
    padding: 3px;
    font-size: 20px;
}

#picture {
    margin: 15px;
    border: 3px solid #ffffff;
}

#picture {
    height: 100px;
    width: 100px;
    background-color: rgb(216, 21, 21);
    border-radius: 100%;
}

#bio {
    margin: 10px;
    padding-top: 20px;
}

.posts {
    background-color: rgb(237, 230, 230);
    margin: 0px;
    list-style-type: none;
}

.post {
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: grey;
    width: 80%;
    height: 150px;
    margin: 30px auto;
    border: 2px solid #b1b1b1;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 1px #d3d3d3;
}

#time-line {
    text-align: left;
    font-family: Roboto;
}


#diamond {
    font-size: 12px;
}

h2 {
    text-align: left;
    color: rgb(45, 45, 45);
    margin-bottom: 5px;
}

#description {
    text-align: left;
    font-family: Roboto;
}

#social {
    text-align: left;
    margin-top: 20px;
    font-family: Roboto;
}

.footer {
    background-color: rgb(16, 13, 16);
    height: 5%;
}

@supports (display: grid) {
    .grid {
        display: grid;
    }
    .grid>div {
        height: auto;
    }
    body>.grid {
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 330px 5fr;
        grid-template-areas: "pr me" "pr po" "f po";
    }
    .menu {
        grid-area: me;
    }
    .profile {
        grid-area: pr;
    }
    .profile .grid {
        display: grid;
        grid-template-rows: 50px 50px 30px 200px;
        grid-template-columns: 3fr 2fr;
        grid-template-areas: "na pi" "ti pi" "li pi" "bio bio";
    }
    #name {
        grid-area: na;
    }
    #title {
        grid-area: ti;
    }
    #links {
        grid-area: li;
    }
    #picture {
        grid-area: pi;
    }
    #bio {
        grid-area: bio;
    }
    .posts {
        grid-area: po;
    }
    .footer {
        grid-area: f;
    }
    @media only screen and (max-width: 768px) {
        body>.grid {
            display: grid;
            grid-template-rows: 1fr 5fr 8fr 1fr;
            grid-template-columns: 1fr;
            grid-template-areas: "me" "pr" "po" "f";
        }
        .profile .grid {
            display: grid;
            grid-template-rows: 5fr 2fr 3fr 6fr;
            grid-template-columns: 3fr 2fr;
            grid-template-areas: "na pi" "ti pi" "li pi" "bio bio";
        }
    }
}