body {
    height: 100%;
    background-color: black;
    color: white;
}

#grid {
    height: 100%;
}

#logo {
    /*margin: 200px auto auto 300px;*/
    height: 250px;
    width: auto;
}

#heading {
    font-size: 2em;
}

#description {
    font-size: 1em;
}

@supports (display: grid) {
    
    #grid {
        display: grid;
        grid-template-rows: repeat(2, 3fr) repeat(3, 2fr) repeat(2, 3fr);
        grid-template-columns: repeat(2, 45%);
        grid-column-gap: 10%;
        grid-template-areas: ". ." "lo he" "lo de" "lo fo" "lo fo" "lo fo" ". .";
    }

    #heading {
        grid-area: he;
    }

    #description {
        grid-area: de;
    }

    #form {
        grid-area: fo;
    }

    #logo {
        grid-area: lo;
    }
    
}